<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a <b>Senior Analyst</b> at JLL. 
      I joined the team as cross-platform software specialist and have architected and worked on a couple of applications in React and React Native, 
      utilizing GraphQL to provide a universal endpoint for most of the company's data sources. To date, I have worked on a lot of
      interesting and bleeding edge solutions in the PropTech market including (but not limited to) a distributed application (DApp) in the Ethereum platform.
    </p>

    <p>
      As a software generalist, I am always on the prowl to improve my development toolbox. 
      I enjoy learning new tech so I can evaluate if they can solve existing problems better.
      If you are going to ask me what my specialization is, it will be <b>software design</b>, <b>software architecture</b> and <b>project solutioning</b>.
    </p>

    <p>
      <strong>In my free time</strong>, I enjoy hiking jungles and taking photos or writing at my <a target="_blank" href="blog.johncrisostomo.com">tech blog</a>. I am also an avid angler and goes on boat fishing trips quite frequently.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
